# Numerical computing
numpy
# Pytorch
torch
# Training curve visualization
tensorboard
# Progress bar for training
tqdm
# Unit tests
pytest
# Hugging face transformers
transformers
pytorch-crf
scikit-learn
